{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "google",
        "plugin:sonarjs/recommended",
        "plugin:vue/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "alertify": "readonly",
        "io": "readonly"
    },
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "vue",
        "sonarjs"
    ],
    "rules": {
        "no-unused-vars": ["error"],
        "flowtype/no-types-missing-file-annotation": 0,
        "semi": ["error", "never"],
        "indent": ["error", 4],
        "quotes": ["error", "backtick"],
        "no-console": ["error"],
        "max-len": "off",
        "no-undef": ["error"],
        "linebreak-style": "off",
        "require-jsdoc": 0
    },
    "settings": {
        "flowtype": {
          "onlyFilesWithFlowAnnotation": false
        }
      }
}